<% provide(:title, "Login | ") %>
<h1>Inicia sesión</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= link_to "(Olvidé mi password)", new_password_reset_path %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>Recordar mi sesión en ésta computadora</span>
      <% end %>

      <%= f.submit "Iniciar sesión", class: "btn btn-primary" %>
    <% end %>

    <p>Eres nuevo por acá?? <%= link_to "Crea tu cuenta ahora!", nuevacuenta_path %></p>
  </div>
</div>