<% provide(:title, "Nuevo password | ") %>
<h1>Crea un nuevo password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@usuario, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :email, @usuario.email %>

      <%= f.label :password, "Nuevo password" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmación" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Crear nuevo password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>