<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    
    <script>

      var rendererOptions = {
        draggable: true
      };
      var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);;
      var directionsService = new google.maps.DirectionsService();
      var map;

      function initialize() {

        var mapOptions = {
          zoom: 14,
          scrollwheel: false,
          streetViewControl: false,
          componentRestrictions: {country: "MX"},
          mapTypeControl: false
          
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        // Try HTML5 geolocation
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          map.setCenter(pos);
          }, 
          function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }

        directionsDisplay.setMap(map);

        google.maps.event.addListener(directionsDisplay, 'directions_changed', function() {
          computeTotalDistance(directionsDisplay.getDirections());
        });

        calcRoute();
      }

      function calcRoute() {

        var calle = document.getElementById("micropost_callere").value;
        var numeroext = document.getElementById("micropost_num_ext_re").value;
        var colonia = document.getElementById("micropost_colonia_re").value;
        var delegacion = document.getElementById("micropost_delegacion_re").value;
        var codpost = document.getElementById("micropost_cp_re").value;

        var calledest = document.getElementById("micropost_calle_de").value;
        var numeroextdest = document.getElementById("micropost_num_ext_de").value;
        var coloniadest = document.getElementById("micropost_colonia_de").value;
        var delegaciondest = document.getElementById("micropost_delegacion_de").value;
        var codpostdest = document.getElementById("micropost_cp_de").value;

        var start = calle + " " + numeroext  + "," + colonia + "," + delegacion + "," + codpost;
        var end = calledest + " " + numeroextdest  + "," + coloniadest + "," + delegaciondest + "," + codpostdest;

        var request = {
          origin: start,
          destination: end,
          travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
      }

      function computeTotalDistance(result) {
        var total = 0;
        var myroute = result.routes[0];
        for (var i = 0; i < myroute.legs.length; i++) {
          total += myroute.legs[i].distance.value;
        }
        total = total / 1000.0;
        document.getElementById('pide_distancia').value = total + ' km';
        

        if (total <= 7.999) {
          document.getElementById('micropost_precio').value = '$' + '70' + ' (MXN)';
        };

        if (total >= 8 && total <= 12.999) {
          document.getElementById('micropost_precio').value = '$' + '100' + ' (MXN)';
        };

        if (total >= 13 && total <= 17.999) {
          document.getElementById('micropost_precio').value = '$' + '150' + ' (MXN)';
        };

        if (total >= 18 && total <= 22.999) {
          document.getElementById('micropost_precio').value = '$' + '200' + ' (MXN)';
        };

        if (total >= 23) {
          document.getElementById('micropost_precio').value = '$' + Math.ceil(total * 10) + ' (MXN)';
        };

      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Lo sentimos: El servicio de geolocalización falló.';
        } else {
          var content = 'Tu explorador de internet no permite geolocalizarte.';
        }

        var options = {
          map: map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>


<h2>Pide un bicimensajero</h2>

<div class="row">

	<div class="col-md-6">

    <%= render 'shared/error_micropost' %>

<form class="new_micropost" id="new_micropost" action="/microposts" accept-charset="UTF-8" method="post">
	<input name="utf8" type="hidden" value="&#x2713;" />
	<input type="hidden" name="authenticity_token" value="UkiHqeau/PKrHGKBlhz9BD8CiO4/zI60sBFmJBXT0y4JZ23kfaLR5gsrEU7P+GJMdCp9T3d90QiN7pzyiA/WYw==" />
  
  <div class="field">

    <input placeholder="Calle" type="text" name="micropost[callere]" id="micropost_callere" />

    <input placeholder="Número exterior" type="text" name="micropost[num_ext_re]" id="micropost_num_ext_re" />

    <input placeholder="Número interior" type="text" name="micropost[num_int_re]" id="micropost_num_int_re" />

    <input placeholder="Colonia" type="text" name="micropost[colonia_re]" id="micropost_colonia_re" />

    <input placeholder="Delegación" type="text" name="micropost[delegacion_re]" id="micropost_delegacion_re" />

    <input placeholder="Código postal" type="text" name="micropost[cp_re]" id="micropost_cp_re" />

    <input placeholder="Nombre de quien envía" type="text" name="micropost[remitente]" id="micropost_remitente" />

    <input placeholder="Calle" type="text" name="micropost[calle_de]" id="micropost_calle_de" />

    <input placeholder="Número exterior" type="text" name="micropost[num_ext_de]" id="micropost_num_ext_de" />

    <input placeholder="Número interior" type="text" name="micropost[num_int_de]" id="micropost_num_int_de" />

    <input placeholder="Colonia" type="text" name="micropost[colonia_de]" id="micropost_colonia_de" />

    <input placeholder="Delegación" type="text" name="micropost[delegacion_de]" id="micropost_delegacion_de" />

    <input placeholder="Código postal" type="text" name="micropost[cp_de]" id="micropost_cp_de" />

    <input placeholder="Nombre de quien recibe" type="text" name="micropost[destinatario]" id="micropost_destinatario" />

    <input type="" value="Calcular distancia y precio" onclick="calcRoute()" class="btn mandar text-left" readonly/>

    <input placeholder="Teléfono de contacto" type="text" name="micropost[telefono]" id="micropost_telefono" />

    <input placeholder="Precio" type="text" name="micropost[precio]" id="micropost_precio" readonly/>

    <textarea placeholder="Notas especiales" name="micropost[notas]" id="micropost_notas">
	</textarea>

  </div>

  <input type="submit" name="commit" value="Pedir" class="btn btn-primary" />

</form>
</div>

	<div class="col-lg-9 col-lg-push-1">

      <div id="map-container">
        <div id="map-canvas"></div>
      </div>

      	<div class="form-group text required pide_distancia text-center">

          <label class="text required">
            <abbr title="required"></abbr> Distancia
          </label>
          <input class="string required noinputborder text-center" name="pide[distancia]" id="pide_distancia" readonly/>
          
        </div>


    </div>

</div>





 <script type="text/javascript">
        $(document).ready(function() {
  		$(window).keydown(function(event){
    	if(event.keyCode == 13) {
      	event.preventDefault();
      	return false;
    }
  });
});
</script>


