<%= link_to gravatar_for(current_usuario), current_usuario %>
<h1><%= current_usuario.nombre %></h1>
<span><%= link_to "Ir a mi perfil", current_usuario %></span>
<span><%= pluralize(current_usuario.microposts.count, "envío") %></span>