    <% provide(:title, "Cotización | ") %>

    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    
    <script>

      var rendererOptions = {
        draggable: true
      };
      var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);;
      var directionsService = new google.maps.DirectionsService();
      var map;

      function initialize() {

        var mapOptions = {
          zoom: 14,
          scrollwheel: false,
          streetViewControl: false,
          componentRestrictions: {country: "MX"},
          mapTypeControl: false
          
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        // Try HTML5 geolocation
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          map.setCenter(pos);
          }, 
          function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }

        directionsDisplay.setMap(map);

        google.maps.event.addListener(directionsDisplay, 'directions_changed', function() {
          computeTotalDistance(directionsDisplay.getDirections());
        });

        calcRoute();
      }

      function calcRoute() {

        var calle = document.getElementById("pide_calle").value;
        var numeroext = document.getElementById("pide_numeroext").value;
        var colonia = document.getElementById("pide_colonia").value;
        var delegacion = document.getElementById("pide_delegacion").value;
        var codpost = document.getElementById("pide_codpost").value;

        var calledest = document.getElementById("pide_calledest").value;
        var numeroextdest = document.getElementById("pide_numeroextdest").value;
        var coloniadest = document.getElementById("pide_coloniadest").value;
        var delegaciondest = document.getElementById("pide_delegaciondest").value;
        var codpostdest = document.getElementById("pide_codpostdest").value;

        var start = calle + " " + numeroext  + "," + colonia + "," + delegacion + "," + codpost;
        var end = calledest + " " + numeroextdest  + "," + coloniadest + "," + delegaciondest + "," + codpostdest;

        var request = {
          origin: start,
          destination: end,
          travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
      }

      function computeTotalDistance(result) {
        var total = 0;
        var myroute = result.routes[0];
        for (var i = 0; i < myroute.legs.length; i++) {
          total += myroute.legs[i].distance.value;
        }
        total = total / 1000.0;
        document.getElementById('pide_distancia').value = total + ' km';
        

        if (total <= 7.999) {
          document.getElementById('pide_precio').value = '$' + '70' + ' (MXN)';
        };

        if (total >= 8 && total <= 12.999) {
          document.getElementById('pide_precio').value = '$' + '100' + ' (MXN)';
        };

        if (total >= 13 && total <= 17.999) {
          document.getElementById('pide_precio').value = '$' + '150' + ' (MXN)';
        };

        if (total >= 18 && total <= 22.999) {
          document.getElementById('pide_precio').value = '$' + '200' + ' (MXN)';
        };

        if (total >= 23) {
          document.getElementById('pide_precio').value = '$' + Math.ceil(total * 10) + ' (MXN)';
        };

      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Lo sentimos: El servicio de geolocalización falló.';
        } else {
          var content = 'Tu explorador de internet no permite geolocalizarte.';
        }

        var options = {
          map: map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>

<section class="padding0">

          <header>
            <h3>Cotiza tu envío</h3>
          </header>
          <div class="col-lg-12 center">
            
          <form class="form-inline" novalidate="novalidate" id="new_pide" action="/pides" accept-charset="UTF-8" method="post">
            <input name="utf8" type="hidden" value="&#x2713;" />
            <input type="hidden" name="authenticity_token" value="qogNsiUXvWocYJbfplAqMrwrM6uiegA4MY7pSl9YWBGSR2ZDBpOEChrAN/k6P8FTApGZK11elYr4CMjshdtYwg==" />

            <div class="row">

              <div class="col-lg-4">

                <h4>Datos de quien envía:</h4>

                <div class="form-group">
                   
                  <input class="validate-required form-control margin0" placeholder="Calle" size="25" type="text" name="pide[calle]" id="pide_calle" />
                
                  <input class="validate-required form-control margin0" placeholder="# exterior" size="10" type="text" name="pide[numeroext]" id="pide_numeroext" />

                  <input class="form-control margin0" value="# interior" size="10" type="text" name="pide[numeroint]" id="pide_numeroint" /> <br>

                  <input class="validate-required form-control margin0" placeholder="Colonia" type="text" name="pide[colonia]" id="pide_colonia" />

                  <input class="validate-required form-control margin0" placeholder="CP" size="5"  type="text" name="pide[codpost]" id="pide_codpost" />

                  <input class="validate-required form-control margin0" placeholder="Delegación" type="text" name="pide[delegacion]" id="pide_delegacion" />

                  <input class="validate-required form-control margin0" placeholder="Nombre" size="57" type="text" name="pide[remitente]" id="pide_remitente" />

                </div>

                <h4>Datos de quien recibe:</h4>

                <div class="form-group">
                  
                  <input class="validate-required form-control margin0" placeholder="Calle" size="25" type="text" name="pide[calledest]" id="pide_calledest" />

                  <input class="validate-required form-control margin0" placeholder="# exterior" size="10" type="text" name="pide[numeroextdest]" id="pide_numeroextdest" />

                  <input class="form-control margin0" placeholder="# interior" size="10" type="text" name="pide[numerointdest]" id="pide_numerointdest" />

                  <input class="validate-required form-control margin0" placeholder="Colonia" type="text" name="pide[coloniadest]" id="pide_coloniadest" />

                  <input class="validate-required form-control margin0" placeholder="CP", size="5" type="text" name="pide[codpostdest]" id="pide_codpostdest" />

                  <input class="validate-required form-control margin0" placeholder="Delegación" type="text" name="pide[delegaciondest]" id="pide_delegaciondest" />

                  <input class="validate-required form-control margin0" placeholder="Nombre" size="57" type="text" name="pide[destinatario]" id="pide_destinatario" />
                
                </div>

                <input type="" value="Calcular distancia y precio" onclick="calcRoute()" class="btn mandar text-left" readonly/>

                <div class="row">

                  <div class="col-lg-12">

                    <div class="col-lg-6 text-center">

                    <div class="form-group text required pide_precio text-center">
                      <label class="text required" for="pide_precio">
                        <abbr title="required"></abbr> Precio
                      </label>
                      <input class="string required noinputborder" name="pide[precio]" id="pide_precio" readonly/>
                    </div>

                    </div>

                    <div class="col-lg-6 text-center">

                    <div class="form-group text required pide_distancia text-center">
                      <label class="text required" for="pide_distancia">
                        <abbr title="required"></abbr> Distancia
                      </label>
                      <input class="string required noinputborder text-center" name="pide[distancia]" id="pide_distancia" readonly/>
                      
                    </div>

                    </div>

                  </div>

                </div>

              </div>

            <div class="col-lg-7 col-lg-push-1">

              <div id="map-container">
                <div id="map-canvas"></div>
              </div>

            </div>

            </div>

            <div class="row">
              <div class="col-lg-9 col-lg-push-2 text-center">
                <header>
                <h2>Para pedir que un bicimensajero pase por tu encargo, llena estos datos y haz click en el botón al final :)</h2>
                </header>
              </div>
            </div>

            <div class="row">

              <div class="col-lg-4 col-lg-push-4">

              <div class="form-group email required pide_email">
                <label class="email required" for="pide_email">
                  <abbr title="required"></abbr> Algún email de contacto por favor:
                </label>
                <input class="string email required form-control" type="email" name="pide[email]" id="pide_email" />
              </div>

              <div class="form-group string required pide_telefono">
                <label class="string required" for="pide_telefono">
                  <abbr title="required"></abbr> Algún teléfono de contacto:
                </label>
                <input class="string required form-control" type="text" name="pide[telefono]" id="pide_telefono" />
              </div>

              <div class="form-group string required pide_pago">
                <label class="string required" for="pide_pago">
                  <abbr title="required"></abbr> Selecciona tu metodo de pago:
                </label>
                <select class="string required form-control" type="text" name="pide[pago]" id="pide_pago" />
                  <option value="deposito">Depósito</option>
                  <option value="transferencia">Transferencia</option>
                  <option value="efectivo">Efectívo</option>
                </select>
              </div>

              <div class="form-group string required pide_comentario">
                <label class="string required" for="pide_comentario">
                  <abbr title="required"></abbr> Notas adicionales para que no nos perdamos
                </label>
                <input class="string required form-control" type="text" name="pide[comentario]" id="pide_comentario" />
              </div>  

              <div class="form-group string required pide_datos noShow">
                <label class="string required" for="pide_datos">
                  <abbr title="required"></abbr> Datos
                </label>
                <textarea class="string required form-control noShow" type="text" name="pide[datos]" id="pide_datos" />
                  Datos de transferencia:
                  CLABE: 072 180000 130486866
                  Nombre: OLIN TONATIUH HERNÁNDEZ VILLALOBOS
                  Datos para depósito:
                  Cuenta: 0013048686
                  Banco: Banorte
                  Nombre: OLIN TONATIUH HERNÁNDEZ VILLALOBOS
                  RFC: HEVO 770602 2E0
                  Ricardo Flores Magón #22 Vda 1 , col Izcalli Chamapa Naucalpan de Juárez estado de México cp 53689

                </textarea>
              </div>            
              
              <div class= "hidden">
                <div class="form-group string optional pide_nickname"><label class="string optional control-label" for="pide_nickname">Nickname</label><input class="string optional form-control" type="text" name="pide[nickname]" id="pide_nickname" /><p class="help-block">Leave this field blank!</p></div>
              </div>

              <% if logged_in? %>
              
              <div>
                </br>
                <input type="submit" name="commit" value="Solicitar bicimensajero" class="btn btnAmplio" />
              </div>

              <% else %>

              <li><%= link_to "Crea una cuenta", nuevacuenta_path, id: "login", :class => 'button' %></li>
              <li><%= link_to "Ingresa a tu cuenta", login_path, id: "login", :class => 'button' %></li>

              <% end %>

              </div>

            </div>

            <div class="row">
              <div class="col-lg-4 col-lg-push-4">
                Al solicitar un bicimensajero, estas aceptando nuestras <%= link_to "Políticas de envío", politicas_path, target: '_blank' %> y estas comprometido a pagar la tarifa cotizada por nuestro sistema. <br>
                Si tienes alguna duda, utiliza nuestro chat y un biciejecutivo te atenderá. También está disponible el <i class="fa fa-whatsapp"></i> whats al: 55-3555-1151
              </div>
            </div>
            
</form>

      </div>
     
          </div>
        </section>

        <script type="text/javascript">
        $(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
        </script>










