<% provide(:title, "Acerca de | ") %>

<section id="main" class="container 80%" style="margin-top: 3em !important;">
		<header>
			<h2>Acerca de Bicimensajeros México</h2>
			<p>Logística Urbana Sustentable</p>
		</header>
			<div class="row">
				<div class="12u">
							<!-- Text -->
					<section class="box">
						
						<p>Somos una empresa de profesionales en la bicimensajería que ofrece sus servicios desde el 2009 como BICIMENSAJEROS DF en el valle de México y Área Metropolitana y que inicia la expansión de nuestro concepto al interior de la república como Bicimensajero.com 
						Nuestra organización busca desarrollar una cultura ciclista laboral  como un oficio u estilo de vida, donde quienes comparten el gusto por la “bicicleta” la conceptualizan como su medio de transporte más eficaz, ecológico y que aporta salud física y mental a su persona sin importar la edad o sexo.
						</p>

						<b>Misión</b>
						
						<li>Ofrecer un servicio de mensajería y gestión, rápido, ecológico, eficiente, seguro y personalizado a nuestros clientes; que promueva el compromiso social, el desarrollo del individuo y el deporte.
						</li>
						<li>Investigación social sobre la movilidad alternativa para el desarrollo de estrategias en beneficio del medio ambiente, salud y economía.
						</li>

						<b>Visión</b>

						<li>Ser la empresa líder en México con reconocimiento y contacto internacional; a partir de la diversificación de nuestro servicio a la opción 80% bicicleta y 20% multimodal, que brinda un servicio competitivo para la satisfacción de nuestros clientes.
						</li>

						<li>Constituirse como empresa formadora de #bicimensajeros (Casa BICIMENSAJEROS) que expanda un horizonte franqueable.
						</li>

						<b>Valores:</b>
						<li>Disciplina, Solidaridad, Correspondencia, Honestidad, Confiabilidad, Puntualidad, Responsabilidad, Prudencia, Compromiso</li>

						<ul>
							<li>
								<b>¿Por qué usar a BICIMENSAJEROS MÉXICO como ventaja de servicio?</b>
								<p>Le ofrecemos a nuestros clientes la posibilidad de ahorrar tiempo en traslados, costo de pasajes o gasolina, renta o compra de automóvil o motocicleta, costos de nómina y carga social, carga administrativa de personal, tiempo de reclutamiento y selección de personal, capacitación y adiestramiento, uniforme, celular, bolso, etc.</p>
							</li>
							<li>
								<b>En BICIMENSAJEROS MÉXICO buscamos establecer una relación de confianza y compromiso con nuestros clientes que se firma bajo las normas del contrato de prestación de servicios profesionales.</b>
							</li>
						</ul>

					</section>

				</div>
			</div>
</section>