<% provide(:title, "Contacto | ") %>
<section id="main" class="container 80%" style="margin-top: 3em !important;">
		<header>
			<h2>Ponte en contacto</h2>
			<p>Tus datos están seguros con nosotros</p>
		</header>
			<div class="row">
				<div class="12u">
							<!-- Text -->
					<section class="box">
						
						<p>
						  ¿Te interesa chambear con nosotros? mandale un mail al capi <%= mail_to "abraham@bicimensajero.com" %>
						</p>

						<p>
							¿Eres una empresa y necesitas un alto volumen de servicios? Te tenemos un plan a la medida, por favor contactanos con un mail a <%= mail_to "daniel@bicimensajero.com" %> 
						</p>

						<p>
							¿Nos quieres mentar la madre, darnos un arrimón (virtual), o sólo cotorrear? este mail es el adecuado: <%= mail_to "amo@bicimensajero.com" %> 
						</p>

						<p>O sencillamente quieres hablar con el mero mero, mandale un mail a <%= mail_to "ollin@bicimensajero.com" %>
						</p>

					</section>

				</div>
			</div>
</section>