<% content_for(:body_attributes) do %>
    data-no-turbolink="true"
  <% end %>

    <% if logged_in? %>
	  <div class="row">
	    <aside class="col-md-4">
	      <section class="usuario_info">
	        <%= render 'shared/usuario_info' %>
	      </section>
	      <section class="micropost_form">
	        <%= render 'shared/micropost_form' %>
	      </section>
	    </aside>
	    
	  </div>
	<% else %>


<!-- Banner -->
        <div class="main-container">
            <section class="fullscreen cover parallax image-bg overlay">

                <div class="background-image-holder">
                	<%= image_tag 'background2.jpg', alt: 'bicimensajero', :class => 'background-image' %>
                </div>

                <div class="container v-align-transform">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1 class="mb16">Envía y recibe tu pedido 
                                <br class="hidden-sm" /> en un solo día</h1>
                            <h6 class="uppercase mb32">Solo con bicimensajero.com</h6>
                        </div>
                       <!--
                        <div class="col-sm-8 col-md-6 mb24">    
                            <img alt="Pic" src="img/vent1.png" />
                        </div>
                       -->
                        <div class="col-sm-12 text-center">                            
                            <%= link_to "Cotiza tu envío gratis", cotizacion_path, :class => 'btn btn-lg btn-filled' %>
                        </div>
                        <div class="col-sm-12">
                            <div class="modal-video-container pull-left">
                                <div class="play-button inline"></div>
                                <div class="modal-video">
                                    <i class="ti-close close-iframe"></i>
                                    <iframe data-src="https://www.youtube.com/embed/tTg5DE77C88" data-autoplay="1"></iframe>
                                </div>
                            </div>
                            <!--end of modal video-->
                           >
                            
                        </div>
                         
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                            <h4 class="uppercase mb80">Así funciona nuestro servicio</h4>
                            <div class="tabbed-content icon-tabs">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab-title">
                                            <i class="ti-mobile icon"></i>
                                            <span>Solicita un bicimensajero</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <i class="ti-package icon"></i>
                                            <span>Recojemos tu pedido</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <i class="ti-location-pin icon"></i>
                                            <span>Entregamos tu pedido </span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est.
                                            </p>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                            <!--end of icon tabs-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

                <section class="bg-secondary">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                                <h3>Esto debe ser un "Call to action"</h3>
                                <p class="lead mb0">
                                    Contamos con los mejores bicimensajeros del mundo mundial.
                                </p>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                <!--end of container-->
                </section>
            
                <section class="p0">
                    <div>
                        <div class="col-sm-12 text-center">  
                        </div>
                    </div>
                    <div class="row masonry masonryFlyIn">
                        <div class="col-md-3 col-sm-6 masonry-item project" >
                            <div class="image-tile inner-title text-center">

                            	<%= link_to unete_path do %>                                    
                                    <%= image_tag 'home8.jpg', alt: 'Trabaja con nosotros' %>
                                    <div class="title">
                                        <h5 class="uppercase mb0">Únete a nosotros</h5>
                                        <span>Se un bicimensajero</span>
                                    </div>
                                <% end %>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 masonry-item project" >
                            <div class="image-tile inner-title  text-center">
                              
                                <%= link_to politicas_path do %>                                    
                                    <%= image_tag 'home8.jpg', alt: 'Trabaja con nosotros' %>
                                    <div class="title">
                                        <h5 class="uppercase mb0">Políticas de envío</h5>
                                        <span>Mejorando cada día</span>
                                    </div>
                                <% end %>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 masonry-item project" >
                            <div class="image-tile inner-title  text-center">                                

                                <%= link_to faq_path do %>                                    
                                    <%= image_tag 'home8.jpg', alt: 'Trabaja con nosotros' %>
                                    <div class="title">
                                        <h5 class="uppercase mb0">Preguntas frecuentes</h5>
                                        <span>Dudas y sugerencias</span>
                                    </div>
                                <% end %>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 masonry-item project">
                            <div class="image-tile inner-title  text-center">                            	

                                <%= link_to faq_path do %>                                    
                                    <%= image_tag 'home8.jpg', alt: 'Trabaja con nosotros' %>
                                    <div class="title">
                                        <h5 class="uppercase mb0">Acerca de nosotros</h5>
                                        <span>Nuestra cultura</span>
                                    </div>
                                <% end %>

                            </div>
                        </div>
                    </div>
                <!--end of row-->
                </section>

            </div>

			<% end %>
