<% provide(:title, "Únete | ") %>

<section id="main" class="container 80%" style="margin-top: 3em !important;">
		<header>
			<h2>Gana dinero mientras das el rol en tu bici</h2>
			<p>Tus fijas tus horarios, tu decides cuanto ganas</p>
		</header>
			<div class="row">
				<div class="12u">
							<!-- Text -->
					<section class="box">
						
						<h3>Auto empléate con nosotros</h3>
						<b>Bicimensajero</b>
						<p>Somos una empresa laboral colaborativa que ejerce el préstamo de sus servicios para el ramo de la mensajería, un mercado de atención y respuesta demandante con nuestros clientes, por lo que solicitamos un compromiso real y la confiabilidad del equipo de trabajo.</p>

						<b>Requisitos:</b>
						<ul>
							<li>Sexo indistinto, de 23 a 65 años con excelente condición física y/o trayectoria deportiva.</li>
							<li>Bicicleta</li>
							<li>Casco</li>
							<li>Candado de seguridad para tu bicicleta.</li>
							<li>Mochila de alta resistencia y capacidad cúbica. 35lts aprox.</li>
							<li>Smartphone con plan de datos (toda información y tránsito de operación es realizada por internet y comunicación continua)</li>
							<li>Conocimiento de la ciudad y manejo de mapas.</li>
							<li>Excelente conducción en la ciudad  (será evaluado al ingresar al equipo de trabajo)</li>
							<li>Saber trabajar bajo presión y con capacidad para tomar decisiones y resolver problemas.</li>
							<li>Tener un seguro vigente.</li>
							<li>RFC con la homoclave que hacienda te da.</li>
							<p><i>Si no cumples con la disciplina, la responsabilidad y los requisitos omite mandar tu solicitud.</i></p>

							<h3>Ofrecemos:</h3>
							<ul>
								<li>La oportunidad de pertenecer y subir a la plataforma más sólida, grande y de mayor trayectoria de  bicimensajeros en México.</li>
								<li>Libertad de ser tú mismo quien mueva sus horarios de trabajo con un sistema de economía colaborativa.</li>
								<li>Pago de honorarios y comisión por el servicio prestado.</li>
								<li>Ser un asociado y formar una carrera empresarial con nosotros.</li>
								<li>Posibilidad de colocación en una empresa cuando así sea solicitado. (tu espada de madera)</li>
								<li>Credencial de membresía para adquirir, promociones con asociados participantes.</li>
								<li>Cursos y capacitación constante.</li>
								<p><i>Bicimensajero ha creado un sistema digital con la experiencia laboral durante años de servicio y hoy abre sus puertas a la expansión y creación del autoempleo y la corresponsabilidad financiera, si cumples con los requisitos y quieres aumentar tus ingresos unete a nuestra plataforma, si ya cuentas con un grupo establecido de Bicimensajeros registrate y charla nuestras alianzas y esquemas de consorcio y amplia tus posibilidades de ganar y mantenerte en el mercado.</i></p>
							</ul>
						</ul>

						<header>
							<h3>¡Quiero ser un bicimensajero ahora!</h3>
							<p>Por favor mandanos un mail a <%= mail_to "amo@bicimensajero.com" %> con tu solicitud y nosotros te contactaremos a la brevedad.</p>
						</header>

					</section>

				</div>
			</div>
</section>