<% provide(:title, "Crea Cuenta | ") %>

<section id="main" class="container 80%" style="margin-top: 3em !important;">
  <header>
            <h2>¡Comienza a pedir todo a domicilio el mísmo día!</h2>
            <p></p>
  </header>

<div class="box">
  
    <%= form_for(@usuario) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :nombre_de_usuario %>
      <%= f.text_field :nombre, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirma tu password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <div style="margin-top: 20px"><%= f.submit "Crear cuenta gratis" %></div>
    <% end %>
</div>

</section>