<% provide(:title, @usuario.nombre + " | ") %>

<div class="row">

	<aside class="col-md-4">

		<section class="user_info">

			<h3>
				<%= gravatar_for @usuario %>
			</h3>

			<h3>
				<%= @usuario.nombre %>
			</h3>

			<h4><%= @usuario.email %></h4>

		</section>

	</aside>

	  <div class="col-md-8">

	    <% if @usuario.microposts.any? %>
	      <h3>Tus envíos (<%= @usuario.microposts.count %>) en total</h3>
	      <ol class="microposts">
	        <%= render @microposts %>
	      </ol>
	      <%= will_paginate @microposts %>
	    <% end %>
	  </div>

</div>
