Que onda <%= @usuario.nombre %>,

Te damos la bienvenida a los servicios de bicimensajero.com, por favor haz click en el siguiente link para activar tu cuenta:

<%= edit_account_activation_url(@usuario.activation_token, email: @usuario.email) %>