<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.usuario), micropost.usuario %>
  <span class="user"><%= link_to micropost.usuario.nombre, micropost.usuario %></span>
  <span class="content"><strong>Recoleccion:</strong> <%= micropost.callere %></span>
  <span class="content"><strong>Entrega:</strong> <%= micropost.calle_de %></span>
  <span class="content"><strong>Precio:</strong> <%= micropost.precio %></span>
  <span class="content"><strong>Número interior:</strong> <%= micropost.num_int_re %></span>
  <span class="timestamp">
    Pedido hace <%= time_ago_in_words(micropost.created_at) %>.
  </span>
</li>