<h2>Recibimos tu pedido y un bicimensajero va en camino</h2>

<h4>Hola, <%= @usuario.nombre %>:</h4>

<p>
¡Recibimos tu pedido con éxito! <br><br>

<span class="content"><strong>Recoleccion:</strong> <%= @micropost.callere %></span><br>
<span class="content"><strong>Entrega:</strong> <%= @micropost.calle_de %></span><br>
<span class="content"><strong>Precio: $</strong> <%= @micropost.precio %></span>MXN<br>

</p>

<p>Estamos en camino y recibirás una notificación por mail cuando tu envío haya sido completado.</p>
<p>Cualquier duda, estamos disponible en el chat de atención a clientes dentro de <a href="https//bicimensajero.com">www.bicimensajero.com</a></p>

<p>Por whatsapp al 55-3555-1151</p>

<p>Para revisar el historial de tus pedidos ingresa a tu cuenta en: <a href="https//bicimensajero.com/login">Mi perfil</a></p>

<p>Tu envío está asegurado.</p>

<p>Bicimensajero México</p>
<p>Ignacio Allende #21, ampliación Torreblanca, DF</p>