<footer id="footer-1 bg-dark">

          <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                          <%= image_tag 'logo-bicimensajero-light.png', alt: 'Logo', :class => 'logo' %>
                        </div>
                        
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="sub">&copy; Copyright 2015 - Bicimensajero</span>
                            <li><h4><%= link_to "Acerca de nosotros", acercade_path %></h4></li>
                            <li><h4><%= link_to "Contacto", contacto_path %></h4></li>
                            <li><h4><%= link_to "Aviso de privacidad", privacidad_path %></h4></li>
                            <li>Ignacio Allende #21 Colonia Ampliación Torreblanca, 11289, México DF</li>
                        </div>
                        <div class="col-sm-6 text-right">
                            <ul class="list-inline social-list">
                                <li>
                                    <a href="https://twitter.com/BicimensajeroMX" target="_blank">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/MensajerosMX" target="_blank">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>                               
                                <li>
                                    <a href="elements-tabs.html#">
                                        <i class="ti-vimeo-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
          <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?3AVY2thZrxj2xtZbwcSnJdliHJZkIfty";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->


<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('.alert-warning').slideUp();
  }, 7000);
 })
</script>

</footer>
