		<div class="nav-container">
            <a id="top"></a>
            <nav>
            	
                <div class="nav-utility">
                    <div class="module left">
                        <i class="ti-location-arrow">&nbsp;</i>
                        <span class="sub">Whastapp 55 31 12 04 98</span>
                    </div>
                    <div class="module left">
                        <i class="ti-email">&nbsp;</i>
                        <span class="sub">amo@bicimensajero.com</span>
                    </div>

                    <div class="module right">

                        <a class="btn btn-sm btn-rounded" href="#">Cotiza un envío</a>
                        
                    </div>
                </div>

                <div class="nav-bar">
                    <div class="module left">
                        <%= link_to root_path do %>
                        	<%= image_tag 'logo-bicimensajero-light.png', width: 200, alt: 'Bicimensajero' %>
                        <% end %>
                    </div>
                    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                        <i class="ti-menu"></i>
                    </div>
                    <div class="module-group right">
                        <div class="module left">
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        Inicio
                                    </a>    
                                </li>
                                <li>
                                    <a href="#">
                                        Únete
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Blog
                                    </a>
                                    
                                </li>
                               
                            </ul>
                        </div>
                        <!--end of menu module-->
                        <div class="module widget-handle cart-widget-handle left">
                            <div class="cart">
                                <i class="ti-user"></i>
                                <span class="title">Login</span>
                            </div>
                            <div class="function">
                                <div class="widget">                                 
                                    <hr>

                                    <% if logged_in? && current_usuario.admin? %>
                                    <%= link_to "Usuarios", usuarios_path, :class => 'btn btn-sm btn-filled' %>
                                    <%= link_to "Perfil", current_usuario, :class => 'btn btn-sm btn-filled' %>
                                    <%= link_to "Ajustes de mi cuenta", edit_usuario_path(current_usuario), :class => 'btn btn-sm btn-filled' %>
									<%= link_to "Cerrar sesión", logout_path, method: "delete", :class => 'btn btn-sm btn-filled' %>

									<% elsif logged_in? %>

									<%= link_to "Perfil", current_usuario, :class => 'btn btn-sm btn-filled' %>
                                    <%= link_to "Ajustes de mi cuenta", edit_usuario_path(current_usuario), :class => 'btn btn-sm btn-filled' %>
									<%= link_to "Cerrar sesión", logout_path, method: "delete", :class => 'btn btn-sm btn-filled' %>

									<% else %>

									<%= link_to "Crea una cuenta", nuevacuenta_path, :class => 'btn btn-sm' %>
									<%= link_to "Ingresa a tu cuenta", login_path, :class => 'btn btn-sm btn-filled' %>	

									<% end %>

                                </div>
                                <!--end of widget-->
                            </div>
                        </div>
                        <!-- Idioma -->
                        <!--
                        <div class="module widget-handle language left">
                            <ul class="menu">
                                <li class="has-dropdown">
                                    <a href="elements-tabs.html#">ENG</a>
                                    <ul>
                                        <li>
                                            <a href="elements-tabs.html#">French</a>
                                        </li>
                                        <li>
                                            <a href="elements-tabs.html#">Deutsch</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        -->
                    </div>
                    <!--end of module group-->
                </div>
            </nav>
        </div>
